* {
	font-family: Arial;
}

html, body {
	background-color: #659D32;

	width: 100%;
}

td {
	text-align: center;
}

th {
	text-align: center;
}

b {
	font-size: 18px;
}

td {
	cursor: pointer;
}

.form-inline > * {
   margin-right: 15px;
   padding: 5px;
}

.navbar-default {
	border-radius: 0px;
	border: none;

	background-color: #659D32;

	margin: 0;
	padding: 0px 15px;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

#content {
	background-image: url("../images/chalkboard.jpg");
	padding: 10px;
}

.vertical-center {
	min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 90vh; /* These two lines are counted as one :-)       */

	max-height: 90%;  /* Fallback for browsers do NOT support vh unit */
	max-height: 90vh; /* These two lines are counted as one :-)       */

	overflow-y: auto;

	display: flex;
	align-items: flex-start;
}

.title {
	font-size: 64px;
	color: #ffffff;

	margin-top: 45px;
}

.subtitle {
	font-size: 24px;
	text-align: center;
}

.subtitle_right {
	font-size: 24px;
	display: inline-block;
}

.subtitle-sm {
	font-size: 20px;
	text-align: center;
}

#dashboard{
    border: none;
}

#dashboard li a {
	background-color:#ddd;
	color: black;
}

#dashboard li.active a {
	border-bottom-color: transparent;
	background-color:#fff;
}

.dashboard-tab .tab-pane{  
	border-top: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color:#fff;

	padding: 10px;
	min-height: 60%;
	min-height: 60vh;
}

.right-tabs .nav {
    float: right;
    border-bottom: 0px;
}

.right-tabs .nav li {
	float: left;
}

.right-tabs .tab-content {
    float: left;
    width: 100%;
}

.table-responsive {
	max-height: 50%;
	max-height: 50vh;
	overflow-y: auto;
}

/*HOME screen*/
#homeMsg {
	color:#fff;
	font-family: arial;
}

#homeLogin, #scheduleSession, #cancelSession {
	background-color: #fff;
	border-radius: 25px;
	border: 2px solid #659D32;
	padding: 20px;
}

#homeLogin h2 {
	color: black;
	font-family: arial;
}

#homeCreateUserLink {
	float: right;
}

#homeBrowse {
	padding: 15px;
}

#homeBrowseWrapper {
	text-align: center;
}
/*END*/
/*CONTACT screen*/
#contactForm {
	background-color: #fff;
	border-radius: 25px;
	border: 2px solid #659D32;
	padding: 20px;
}

#addressTitle {
	color: #fff;
	font-family: arial;
}

#address {
	color: #fff;
	font-family: arial;
}
/*END*/
/*TUTOR browse screen*/
.tutorOverview {
	background-color: #fff;
	border-radius: 25px;
	border: 2px solid #659D32;
	padding: 20px;
	margin-top: 10px;
}

.photoid {
	height: 150px;
	width: 150px;
}
/**/
/*TUTOR details*/
.photoiddetails {
	height:250px;
	width: 250px;
	margin-left: 10px;
}
/*END*/